.container {
  display: flex;
  flex-direction: column;
  margin: 15rem auto;
  padding: 2.5rem;
  align-items: center;
  width: 25%;
  border-radius: 12px;
  box-shadow: 1.5rem 1rem 2rem 1rem #ccc;
}
@media (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .container {
    width: 75%;
  }
}
